{
	"$schema": "https://json.schemastore.org/eslintrc",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest",
		"ecmaFeatures": {
			"jsx": true,
			"arrowFunctions": true,
			"classes": true,
			"defaultParams": true,
			"destructuring": true,
			"experimentalObjectRestSpread": true,
			"restParams": true,
			"spread": true
		}
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"rules": {},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
